.recipeList {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;

        .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: left;
            color: #333;
        }

        select {
            outline: none;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 10px;
            margin-top: 10px;
        }

    }


    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        padding-top: 20px;

        a {
            text-decoration: none;
            color: inherit;
            padding: 10px 15px;
        }
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0 2px 4px black;
        // background-color: aliceblue;
        height: 100%;
        transition: transform 0.3s ease;
        padding: 11px;
        min-width: 300px;

        .cardHeading {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .recipeInfo {
            display: flex;
            margin-bottom: 10px;
            gap: 15px;

            .tag {
                display: inline-block;
                padding: 5px 10px;
                font-size: 18px;
                color: whitesmoke;
                border-radius: 5px;
            }

            .level {
                background-color: #7a66da;
            }

            .time {
                background-color: #3EA86A;
            }

            .veg {
                background-color: #FF6961;
            }
        }

        &:hover {
            transform: translate(-5px)
        }

        .image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .noRecipes {
        font-size: 26px;
        text-align: center;
        padding: 50px;
    }
}